name: Test

on:
  push:
    branches-ignore:
      # Renovate branches will immediately become PRs
      - "renovate/**"
  pull_request:
    branches:
      - "**"

jobs:
  test-go:
    name: Build and test Golang functions
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.x

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Test
        run: |
          go test ./...
          go vet ./...
