name: Update Go dependencies
on: workflow_dispatch

jobs:
  update-go:
    name: Update Go dependencies
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.x

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Update Go dependencies
        run: |
          go get -u
          go mod tidy

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: "${{ secrets.GH_PAT }}"
          add-paths: |
            go.mod
            go.sum
          commit-message: go get -u
          title: go get -u
          branch: go-update
          author: "github-actions <github-actions@github.com>"
